@media screen and (max-width: 1440px){

    #footer{
        font-size: medium;
    }
}

@media screen and (max-width: 1024px){
    #middle_text h1 {
        font-size: xx-large;
    }

    #middle_text h6 {
        font-size: medium;
    }
    
    #middle_text h5 {
        font-size: smaller;
    }

    #footer{
        font-size: medium;
    }

    #middle_text {
        padding:15%;
    }
}

@media screen and (min-width: 1024px){
    .body_photo {
        height: 60%;
        overflow: hidden;
    }
    
    #body h6{
        font-size: small;
    }

    #prof_pic {
        border-radius: 50%;
        width: 50%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed .icon_td {
        text-align: right;
        width: 30%;
        padding: 1%;
    }
    .icon {
        width: 20%;
    }
}

@media screen and (max-width: 768px){
    #middle_text h1 {
        font-size: xx-large;
    }

    #middle_text h6 {
        font-size: medium;
    }
    
    #middle_text h5 {
        font-size: medium;
    }

    #footer{
        font-size: small;
    }

    #middle_text {
        padding:15%;
    }

    
    #body h6{
        font-size: smaller;
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed .icon_td {
        text-align: right;
        width: 80%;
        padding: 1%;
    }
    .icon {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    #navi_div a {
        font-size: small;
    }
    .body_photo {
        height: 18%;
        overflow: hidden;
    }
    #body h3 {
        font-size: large;
    }
    #body h6 {
        font-size: medium;
    }
}


@media screen and (max-width: 425px){
    #middle_text h1 {
        font-size: x-large;
    }

    #middle_text h6 {
        font-size: small;
    }
    
    #middle_text h5 {
        font-size: small;
    }

    #footer{
        font-size: small;
    }

    #middle_text {
        padding:15%;
    }

    #body h6{
        font-size: small;
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed .icon_td {
        text-align: right;
        width: 80%;
        padding: 1%;
    }
    .icon {
        width: 100%;
    }
    
    li a {
        display: block;
    }
}


@media screen and (max-width: 375px){
    #middle_text h1 {
        font-size: x-large;
    }

    #middle_text h6 {
        font-size: small;
    }
    
    #middle_text h5 {
        font-size: small;
    }

    #footer{
        font-size: small;
    }

    #body h6{
        font-size: small;
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed .icon_td {
        text-align: right;
        width: 80%;
        padding: 1%;
    }
    .icon {
        width: 100%;
    }

}

@media screen and (max-width: 320px){
    #middle_text h1 {
        font-size: x-large;
    }

    #middle_text h6 {
        font-size: small;
    }
    
    #middle_text h5 {
        font-size: small;
    }

    #footer{
        font-size: small;
    }

    #body h6{
        font-size: small;
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed .icon_td {
        text-align: right;
        width: 100%;
        padding: 1%;
    }
    .icon {
        width: 100%;
    }

}