body {
    background-color: #E57F84;
}

#title_div {
    align-items: center;
    height: 94%;
}

#middle_text{
    padding: 10%;
}

#middle_text .links {
    text-decoration: none;
    color: #2F5061;
}

div .h_one {
    font-style: italic;
    color: brown;
    text-shadow: 2px 2px #2F5061;
    padding: 2%;
}

div .h_six {
    font-style: italic;
    color: #2F5061;
}

button {
    background-color: #E57F84 ;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #E57F84;
    color: none;
}

button:hover{
    border-color: ivory;
    
}
.footer {
    background-color: #2F5061;
    text-align: center;
    font-style: italic;
    color: ivory;
    left: 0;
    bottom:0;
    position: fixed;
    padding: 1%;
}

#body, #body_photo {
    background-color: #E57F84;
    text-align: center;
}
#body {
    padding: 1%;
    text-align: center;
}

#body .h_five {
    color: ivory;
}

#navi_div{
    background-color: ivory;
    padding-top: 1%;
    padding-bottom: 1%;
}

#navi_div .nav_link {
    color: teal;
    text-decoration: none;
}

#navi_div .nav_link:hover {
    color: #E57F84;
    font-style: bold;
}

.h_three {
    color: ivory;
}

#navi_div .selected {
    color: #E57F84;
}

#prof_pic {
    border-radius: 50%;
    width: 30%;
    border: 5px solid teal;
}

#socmed{
    align-content: center;
    text-align: left;
}

#socmed .icon_td {
    text-align: right;
    width: 5%;
    padding: 1%;
}

.icon {
    width: 5%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 70%;
    max-width: 33%;
    padding: 0 4px;
}

.column .img-thumbnail {
    margin-top: 8px;
    vertical-align: middle;
    transition: transform .2s;
}

.column .img-thumbnail:hover {
    transform: scale(1.5);
    z-index: 1;
}


ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 2%;
}

