@media screen and (max-width: 1440px){

    .footer{
        font-size: medium;
    }
}

@media screen and (max-width: 1024px){
    #middle_text {
        padding:15%;
        .h_one {
            font-size: xx-large;
        }
        .h_six {
            font-size: medium;
        }
        .h_five {
            font-size: smaller;
        }
    }

    .footer{
        font-size: medium;
    }

}

@media screen and (min-width: 1024px){
    #body {
        .h_six {
            font-size: small;
        }
    }

    #prof_pic {
        border-radius: 50%;
        width: 50%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed {
        .icon_td {
            text-align: right;
            width: 30%;
            padding: 1%;
        }
    }
    .icon {
        width: 20%;
    }
}

@media screen and (max-width: 768px){
    #middle_text {
        padding:15%;
        .h_one {
            font-size: xx-large;
        }
        .h_six {
            font-size: medium;
        }
        .h_five {
            font-size: medium;
        }
    }

    .footer {
        font-size: small;
    }

    #body {
        .h_six{
            font-size: smaller;
        }
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed .icon_td {
        text-align: right;
        width: 80%;
        padding: 1%;
    }

    .icon {
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    #navi_div {
        .nav_link {
            font-size: small;
        }
    }
    #body {
        .h_three {
            font-size: large;
        }
        .h_six {
            font-size: medium;
        }
    }

}


@media screen and (max-width: 425px){
    #middle_text {
        padding:15%;

        .h_one {
            font-size: x-large;
        }
        .h_six {
            font-size: small;
        }
        .h_five {
            font-size: small;
        }
    }

    .footer {
        font-size: small;
    }

    #body {
        .h_six  {
            font-size: small;
        }
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;   
    }
    
    #socmed {
        .icon_td {
            text-align: right;
            width: 80%;
            padding: 1%;
        }
    }
    
    .icon {
        width: 100%;
    }
    
    li {
        a {
            display: block;
        }
    }
}


@media screen and (max-width: 375px){
    #middle_text {
        .h_one {
            font-size: x-large;
        }
        .h_six {
            font-size: small;
        }
        .h_five {
            font-size: small;
        }
    }

    .footer {
        font-size: small;
    }

    #body {
        .h_six  {
            font-size: small;
        }
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed {
        .icon_td {
            text-align: right;
            width: 80%;
            padding: 1%;
        }
    }
    .icon {
        width: 100%;
    }

}

@media screen and (max-width: 320px){
    #middle_text {
        .h_one {
            font-size: x-large;
        }
        .h_six {
            font-size: small;
        }
        .h_five {
            font-size: small;
        }
    }

    .footer {
        font-size: small;
    }

    #body {
        .h_six{
            font-size: small;
        }
    }

    #prof_pic {
        border-radius: 50%;
        width: 80%;
        margin: 3%;
        border: 5px solid teal;
    }
    
    #socmed {
        .icon_td {
            text-align: right;
            width: 100%;
            padding: 1%;
        }
    }
    .icon {
        width: 100%;
    }

}