$coral: #E57F84;
$mistyblue: #2F5061;

body {
    background-color: $coral;
}

#title_div {
    align-items: center;
    height: 94%;
}

#middle_text {
    padding: 10%;
    .links  {
        text-decoration: none;
        color: $mistyblue;
    }
}

div {
    .h_one {
        font-style: italic;
        color: brown;
        text-shadow: 2px 2px $mistyblue;
        padding: 2%;
    }
    .h_six {
        font-style: italic;
        color: $mistyblue;
    }
}

button {
    @extend body;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $coral;
    color: none;
    &:hover {
        border-color: ivory;
    }
}
    
.footer {
    background-color: $mistyblue;
    text-align: center;
    font-style: italic;
    position: fixed;
    color: ivory;
    left: 0;
    bottom:0;
    padding: 1%;
}

#body, #body_photo {
    @extend body;
    text-align: center;
}

#body {
    text-align: center;
    padding: 1%;
    .h_five {
        color: ivory;
    }
}

#navi_div {
    background-color: ivory;
    padding-top: 1%;
    padding-bottom: 1%;
    .selected {
        color: $coral;
    }
    .nav_link {
        color: teal;
        text-decoration: none;
        &:hover {
            color: $coral;
            font-style: bold;
        }
    }
}

.h_three {
    color: ivory;
}

#prof_pic {
    border-radius: 50%;
    width: 30%;
    border: 5px solid teal;
}

#socmed {
    align-content: center;
    text-align: left;
    .icon_td {
        text-align: right;
        width: 5%;
        padding: 1%;
    }
}

.icon {
    width: 5%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 70%;
    max-width: 33%;
    padding: 0 4px;
    .img-thumbnail {
        margin-top: 8px;
        vertical-align: middle;
        transition: transform .2s;
        &:hover {
            transform: scale(1.5);
            z-index: 1;
        }
    }
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 2%;
}