<!DOCTYPE>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='New folder/bootstrap-4.4.1/dist/css/bootstrap.css') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>
        {% block title %} {% endblock %}
    </title>

    {% block script %} {% endblock %}

</head>
<body>  
    {% block body %} {% endblock %}
    <footer> 
        <div class="footer container-fluid charade">
            {% block footer %} {% endblock %}
        </div>
    </footer >
</body>