{% extends 'search.html' %}

{% block title %} 
        A Reader's Review - Book Info
{% endblock %}

{% block script %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        $(document).ready(function() {

            $(document.body).on("hover", "tr[data-href]", function(){
                window.location.href = this.dataset.href;
            });
            
            $("#star1").on("click", function(){
                $('#star1').css("color","rgb(255, 123, 0)");
                $("#rate").val(1);
                $('#star2').css("color","black");
                $('#star3').css("color","black");
                $('#star4').css("color","black");
                $('#star5').css("color","black");
            });
            $("#star2").on("click", function(){
                $('#star1').css("color","rgb(255, 123, 0)");
                $('#star2').css("color","rgb(255, 123, 0)");
                $("#rate").val(2);
                $('#star3').css("color","black");
                $('#star4').css("color","black");
                $('#star5').css("color","black");
            });
            $("#star3").on("click", function(){
                $('#star1').css("color","rgb(255, 123, 0)");
                $('#star2').css("color","rgb(255, 123, 0)");
                $('#star3').css("color","rgb(255, 123, 0)");
                $("#rate").val(3);
                $('#star4').css("color","black");
                $('#star5').css("color","black");
            });
            $("#star4").on("click", function(){
                $('#star1').css("color","rgb(255, 123, 0)");
                $('#star2').css("color","rgb(255, 123, 0)");
                $('#star3').css("color","rgb(255, 123, 0)");
                $('#star4').css("color","rgb(255, 123, 0)");
                $("#rate").val(4);
                $('#star5').css("color","black");
            });
            $("#star5").on("click", function(){
                $('#star1').css("color","rgb(255, 123, 0)");
                $('#star2').css("color","rgb(255, 123, 0)");
                $('#star3').css("color","rgb(255, 123, 0)");
                $('#star4').css("color","rgb(255, 123, 0)");
                $('#star5').css("color","rgb(255, 123, 0)");
                $("#rate").val(5);
            });
            
        });

    </script>
{% endblock %}

{% block result %} 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div id="info_div" class="col-sm-8 p-4 charade">
                <h4>Title: {{ book_info[1].replace('//', '"').replace("/ ", ", ").replace("/", "'") }}</h4>
                <h6>Author/s: {{ book_info[2].replace('//', '"').replace("/ ", ", ").replace("/", "'") }}</h6>     
                <h6>Publication year: {{ book_info[3] }} </h6>     
                <h6>ISBN number: {{ book_info[0] }} </h6>
                {% if review_count %}
                    <h6><img src="{{url_for('static', filename='goodreads_logo.png')}}">
                    No. of ratings from Goodreads: {{ review_count }}</h6>    
                {% endif %}
                {% if ave_rating %}
                    <h6><img src="{{url_for('static', filename='goodreads_logo.png')}}">
                    Average rating from Goodreads: {{ ave_rating }} / 5</h6>    
                {% endif %}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    
    {% if review_status == False %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div id="review_div" class="col-sm-8 pt-4 pb-4 charade wax_flower_bg"> 
                <form action="/a-readers-review/{{book_info[0]}}/review" method="POST">
                    Rate this book!</br>
                    <span id="star1" class="fa fa-star"></span>
                    <span id="star2" class="fa fa-star"></span>
                    <span id="star3" class="fa fa-star"></span>
                    <span id="star4" class="fa fa-star"></span>
                    <span id="star5" class="fa fa-star"></span>
                    <input id="rate" name="rate" type="hidden"/>
                    <br />
                    <textarea id="review" name="review" type="text" placeholder="Write your review here" rows="2" cols="100"></textarea>   
                    <br />
                    <button id="submit" type="submit"> Submit </button>
                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    {% endif %}
    
    {% if reviews  %}
    <div class="wax_flower container-fluid">
        <div class="row pt-2 pb-5">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 wax_flower_bg">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">RATE</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">REVIEW</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for review in reviews: %}
                        <tr>
                            <td>
                                {% if review[2] == 1 %}
                                    <span id="star1" class="fa fa-star orange"></span>
                                    <span id="star2" class="fa fa-star"></span>
                                    <span id="star3" class="fa fa-star"></span>
                                    <span id="star4" class="fa fa-star"></span>
                                    <span id="star5" class="fa fa-star"></span>
                                {% endif %}
                                {% if review[2] == 2 %}
                                    <span id="star1" class="fa fa-star orange"></span>
                                    <span id="star2" class="fa fa-star orange"></span>
                                    <span id="star3" class="fa fa-star"></span>
                                    <span id="star4" class="fa fa-star"></span>
                                    <span id="star5" class="fa fa-star"></span>
                                {% endif %}
                                {% if review[2] == 3 %}
                                    <span id="star1" class="fa fa-star orange"></span>
                                    <span id="star2" class="fa fa-star orange"></span>
                                    <span id="star3" class="fa fa-star orange" ></span>
                                    <span id="star4" class="fa fa-star"></span>
                                    <span id="star5" class="fa fa-star"></span>
                                {% endif %}
                                {% if review[2] == 4 %}
                                    <span id="star1" class="fa fa-star orange"></span>
                                    <span id="star2" class="fa fa-star orange"></span>
                                    <span id="star3" class="fa fa-star orange"></span>
                                    <span id="star4" class="fa fa-star orange"></span>
                                    <span id="star5" class="fa fa-star"></span>
                                {% endif %}
                                {% if review[2] == 5 %}
                                    <span id="star1" class="fa fa-star orange"></span>
                                    <span id="star2" class="fa fa-star orange"></span>
                                    <span id="star3" class="fa fa-star orange"></span>
                                    <span id="star4" class="fa fa-star orange"></span>
                                    <span id="star5" class="fa fa-star orange"></span>
                                {% endif %}
                                
                            </td>
                            <td>{{ review[0] }}</td>
                            <td>{{ review[1] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    {% endif %}
{% endblock %}