{% extends('base.html') %}

{% block title %}
    MessageMe
{% endblock%}

{% block script %}
    <script>

        var socket = io.connect('http://'+document.domain+':'+location.port)
        socket.on('connect', function(){
                console.log("connected");
        });

        if (window.localStorage.getItem('channel')){
            window.location.href = "/message-me/"+window.localStorage.getItem('channel');
        }

        function displayname() {
            var display_name = document.getElementById("un_input").value;
            console.log("display_name");

            socket.emit('check_un', {
                un: display_name
            });

            socket.on('ret_avail', function(msg){
                if(msg == 1){
                    window.localStorage.setItem('display_name', display_name);
                    window.location.href = "/message-me"
                } else {
                    var msg = document.createTextNode("Display name already in use, enter another name");
                    document.getElementById("message").appendChild(msg);
                    console.log("display name in use");
                }
            });

        }
        
    </script>
{% endblock %}

{% block body %} 

<div id ="register_page" class="row container-fluid hippie_pink ">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div id = "reg_div">
            <h2>MessageMe</h2>
            <hr />
            <h5><input id="un_input" class="wine_berry_bg chamoisee" placeholder="Enter your display name" required></input></h5>
            <h6 id="message"></h6>
            <button id="submit_btn" class="btn btn-light" onclick="displayname()"> Submit </button>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock %}