{% extends 'index.html' %}

{% block title %} 
        A Reader's Review - Register
{% endblock %}

{% block script %} 
<script>
    function validateForm() {
        var pass = document.forms["register_form"]["password"].value;
        var repass = document.forms["register_form"]["repass"].value;

        if (pass != repass) {
            alert("Password and Re-typed password don't match");
            return false;
        }
    }
</script>
{% endblock %}

{% block form %}
    <form name="register_form" action="/a-readers-review/registeraccount" onsubmit="return validateForm()" method="POST">
        <h5><input class="input" name="givenname" type="text" placeholder="Given name" pattern="[A-Za-z]{,20}" required></h5>
        <h5><input class="input" name="lastname" type="text" placeholder="Last name" pattern="[A-Za-z]{,20}" required></h5>

        <h5><input class="input" name="username" type="text" placeholder="Username" pattern="{,50}" required></h5>
        {% if message %}
        <small class="text-danger">{{ message }}</small>
        {% endif %}
        <h5><input class="input" name="password" type="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z]).{8,15}" title="Must composed of lowercase letters atleast 1 number" required></h5>
        <small>Password should be atleast 8 to 15 lowercase characters with atleast 1 number</small>
        <h5><input class="input" name="repass" type="password" placeholder="Re-type Password" required></h5>

        <input type="submit">
    </form>
    <h6>Already have an account?</h6>
    <h6>Login <a class="olive" href="/"/>here</a></h6>      
{% endblock %}